@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Poppins|Solway&display=swap');

$solway: 'Solway', serif;
$sans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$nunito: 'Nunito', sans-serif;