.Today {
  color: #fff;
  text-align: center;
  margin-top: 10rem;
  letter-spacing: 1px;
  width: 100%;

  &__container {
    font-size: 0.8rem;
    color: #c1c2c2;
    text-transform: uppercase;
  }

  &__title {
    text-transform: uppercase;
  }

  &__date {}

  &__forecast {
    color: #80bdf2;
    font-weight: bolder;
  }
}
